html {
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: #25282d;
    font-size: 115px;
    font-weight: 300;
    line-height: 140px;
}
.blue {
    text-align: center; 
    color: #20c997;
}
.white {
    text-align: center; 
    color: #fff;
}
h2  {
    text-align: center;
    color: #25282d;
    font-size: 60px;
    font-weight: 100;
}
.blue_promo {
    padding-bottom: 80px;
    padding-top: 120px;
    background: #20c997;
}
.white_promo {
    padding-bottom: 80px;
    padding-top: 120px;
}
.white_promo span {
    color: #ffffff;
    border-width: 10px;
    line-height: 38px;
    border: 1px solid #20c997;
    background:#20c997;
    padding: 0 20px 0 20px;
}
.promo_text {
    text-align: center;
    margin-top: 15px;
}

.promo_mouse {
    display: block;
    margin: 0 auto; 
}
.text {
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 1.8px;
    line-height: 52px;
}
.navbar {
    height: 100px;
    justify-content: center;
    background-color: #232a57;
    padding: 20px 40px;
}
.navbar-brand, .footer .logo {
    font-size: 30px;
}
.navbar-light .navbar-brand {
    color: #fff;
}
.navbar a span, .footer .logo span {
    color:#20c997;
}
.blue_contact_btn {
    color: #fff;
    border-radius: 40px;
    background-color: #20c997;
    margin: 20px;
}
.blue_contact_btn:hover{
    color: #fff;
    background-color: #3373c2;
}
.white_contact_btn {
    color: #000000;
    border-radius: 40px;
    display: block;
    padding: 10px 25px;
    margin: 30px auto;
    background-color: #fff;
    font-size: 24px;
    
}
.white_contact_btn:hover {
    background-color: #c7e0ff;
}

.account {
    padding: 120px 0 80px 0;
}

.promo h1 span {
    color: #ffffff;
    border-width: 10px;
    line-height: 38px;
    border: 1px solid #20c997;
    background:#20c997;
    padding: 0 20px 0 20px;
}
.promo .promo_mouse {
    display: block;
    margin: 0 auto; 
    margin-top: 50px;
}
.promo .promo_text {
    margin-top: 15px;
    text-align: center;
}

.build, .client, .conversation_blue {
    padding-top: 100px;
    background-color: #20c997;
}
.build h2, .client h2 {
    color: #ffffff;
}
.build .build_text{
    color: #ffffff;
}


.carousel {
    height: 100px;
    margin-top: 50px;
}
.carousel-control-prev{
    left: -120px;
}
.carousel-control-next {
    right: -120px;
}
.client img {
    padding: 0 50px;
}
a {
    color: #20c997;
    text-decoration: none;
    background-color: transparent;
}
.btn-primary {
    color: #fff;
    background-color: #20c997;
    border-color: #ffffff;
}
.conversation_blue {
    padding-bottom: 100px;
}
.conversation_blue h2 {
    color: #ffffff;
}
.conversation_btn {
    display: block;
    font-size: 40px;
    padding: 10px 25px;
    font-weight: 100;
    margin: 0 auto;
    margin-top: 50px;
    width: 280px;
}

.expertise {
    padding: 100px 0;
    background-color: #ece6d8;
}
.conversation_light {
    background-color: #ece6d8;
    padding: 100px 0;
}

.footer ul {
    margin: 0 200px;
}

.footer .logo {
    margin-left: 0;
    font-size: 20px;
}
nav a {
    font-size: 25px;
    color: #ffffff;
}
nav a:nav-link {
    font-size: 15px;
    color: #20c997;
}

nav a:hover{
    border-bottom: 2px solid #20c997;
    text-decoration: none;
}

/*li {
    color: #66a3b3;
}*/
li {
    color: #66a3b3;
    display: list-item;
    text-align: -webkit-match-parent;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #20c997;
}
nav ul {
    color: #66a3b3;
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.col {
    padding: 0px;
}
.block {
    height: 300px;
    display: flex;
    align-items: center;
}

.agogo {
    justify-content: center;
    background: #feda00;
}
.amuze {
    background: #e94e77;
}
.amuze_img, .vailendar_img  {
    margin-left: auto;
    margin-top: auto;
}
.vailendar {
    background: #6bbdea;
}
.iphone {
    background: #855597;
}
.iphone_img {
    margin: 0 auto;
}
.ddaily {
    background: #c8453a;
}
.ddaily_img {
    margin: 0 auto;
    margin-top: auto;
}
.green {
    background: #87cba0;
}
.green_img {
    margin-right: auto;
    margin-top: auto;
}
.tendril {
    background: #20c997;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
}
.text_tendril {
    font-size: 20px;
    color: #ffffff;
}
.tendril span {
    font-size: 30px;
    font-weight: 600;
}
.mac {
    background: url('../img/work/mac.png');
    background-size: 100%
}
.bus {
    background: url('../img/work/bus.png');
    background-size: 100%
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.approaches {
    padding-bottom: 290px;
    position: relative;
}
.item {
    background: #ffffff;
    position: relative;
    margin-top: -220px;
}
.approach_card {
    align-items: center;
    padding: 100px 200px;
}
.approach_header {
    color: #20c997;
    font-size: 44px;
    padding: 20px 0 80px 0;
    text-align: center;
}
.approach_text {
    color: #25282d;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}
.approach_item_icon {
    display: block;
    margin: 0 auto;
}

.expertise_item {
    padding: 30px 10px;
}
.expertise_item_header {
    font-size: 32px;
    font-weight: 300;
    color: #25282d;
    padding-bottom: 20px;
}

.form {
    background: #20c997;
    padding-bottom: 50px;
}

.contact_location {
    padding: 100px 0;
}
.contact_location h2 {
    text-align: left;
    font-weight: 300;
}
.location_item_header {
    color: #20c997;
}
.contact_item, .location_item {
    padding: 20px;
    font-size: 24px;
    font-weight: 100;
}



.blog_item, .post_item {
    margin: 40px 0;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.blog_item h2 {
    font-size: 32px;
    text-align: left;
    color: #20c997;
}
.blog_item p {
    font-size: 20px;
}

.new_post h1 {
    line-height: 110px;
}
.new_post h2 {
    font-size: 26px;
}
.new_post p, .post_item p {
    font-size: 20px;
}

.login h1 {
    color: #fff;
    text-align: center;
}
.login {
    padding: 220px 0 80px 0;
    background: #20c997;
    height: 100vh;
}
.login form {
    padding: 100px;
}
.login p, .account p {
    color: #ffffff;
    font-size: 20px;
}
.login .error {
    font-size: 24px;
    font-weight: 500;
}
.login a {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

.login input {
    margin: 15px 0;
}


.round img {
    display: block;
    margin: 20px auto;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.add_file {
    margin-top: 20px;
}